.buttonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 220px;
  gap: 20px;
}

.buttonStyle {
  width: 45px;
  border-radius: 30px/20px;
  background-color: silver;
  box-shadow: inset 2px 2px 5px rgba(94, 94, 94, 0.877);
}

.buttonStyle:active,
.buttonStyle.pressed {
  transform: scale(0.95);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}
